<br><br>
<div class="ui text container">
  <h1 class="ui dividing header">팀 등록 안내</h1>
  <p>팀 등록을 하기 전에, <a href="/acm/registration"><b>여기</b></a>를 반드시 읽어주세요</p>
  <p>절차가 너무 복잡하다고 느껴지시는 경우에는, 별도의 문의를 통해 가입을 도와드리고 있습니다.</p>
  <p>문의: joonas.yoon@gmail.com 또는 010.2996.3435</p>
  <br>
  
  <h1 class="ui dividing header">대회 주의 사항</h1>
  
  <h2>예비소집</h2>
  <ul>
    <li>
      <b>목적</b>: <br>
      인터넷 예선과 동일한 환경에서 Domjudge(<a href="https://www.domjudge.org/">https://www.domjudge.org/</a>)를 이용하여 온라인으로 진행되며, 답안 제출과 채점 결과 확인에 문제가 없는지를 확인하는 것을 목적으로 합니다.
    </li>
    <li>
      <b>진행</b>: <br>
      약 2~3문제가 주어지며 2시간 동안 진행됩니다. 인터넷 예선 때 사용할 컴퓨터 및 동일환 환경을 사용하는 것을 권장합니다.
    </li>
    <li>
      <b>유의사항</b>: <br>
      모든 팀은 전날인 <u>9월 22일 저녁 예비소집에 참가</u>하여야 합니다. 예비소집은 팀원 3명 모두가 참여할 필요는 없지만, 반드시 <u>팀원 중 한 명 이상이 대회시간 중에 접속</u>하여야 합니다. 
      문제를 해결하지 못한 경우에도, 예비소집이 끝나기 전에 작성중인 소스코드를 제출하여 (<b><u>최소 1회 이상 submission</u></b>), 본부측이 예비소집 참가를 확인할 수 있도록 합니다.
      부득이한 사유로 팀원 중 한명도 예비 소집에 참가할 수 없는 팀들은 대회 본부에 미리 통보하기 바랍니다.
      통보하지 않고 불참(아무런 submission이 없는 경우)할 경우 본선대회 팀 선발시 소속 학교에 페널티가 부여되오니 이 점 양지하시기 바랍니다.
    </li>
  </ul>
  
  <h2>대회 진행</h2>
  <ul>
    <li>
      각 팀은 <strong><u>반드시 1대의 컴퓨터</u></strong>를 사용하여야 합니다.<br>
      2대 이상의 컴퓨터(모바일 포함)를 사용하는 것은 부정행위이며,
      <b style="color: red;">접속 IP 검사, 중복 로그인 검사</b> 등을 통해 부정행위가 적발되는 경우에는 <b style="color: red;">실격</b>되며 일정기간동안 대회 참가가 제한됩니다.
    </li>
    <li>
      대회 중에는 프로그래밍 언어별 공식 <a href="/acm/references">Reference Site</a> 와 대회 홈페이지를 제외한 웹사이트 및 인터넷 사용은 일체 허용되지 않습니다.
    </li>
    <li>
      ACM-ICPC 본선대회와 마찬가지로, 25장(단면) 이하의 인쇄된 형태의 팀노트는 참고할 수 있습니다. 그 외의 인쇄물, 책 등을 참고하는 것은 금합니다.
    </li>
    <li>이동가능한 저장매체 (특히 USB메모리) 를 사용할 수 없습니다.</li>
    <li>대회 중 같은 팀원 및 Coach (혹은 조교) 를 제외한 그 누구와도 대화해서는 안됩니다. 특히 다른 팀원과 문제에 대해 어떤 형태로든 커뮤니케이션하는 경우 부정행위입니다.</li>
    <li>위의 유의사항을 위반하는 경우 부정행위로 간주되어 실격되거나 소속학교에 불이익이 있을 수 있습니다.</li>
  </ul>
  
  <h2>답안 제출 및 채점, 프로그래밍 환경</h2>
  <ul>
    <li>
      <b>문제 배포:</b> 문제는 대회 홈페이지 (<a href="http://icpckorea.org">http://icpckorea.org</a>) 나 지정된 장소에서 배포합니다.
    </li>
    <li>
      <b>대회 시스템:</b> 참가자들은 Domjudge 시스템을 사용하여 온라인으로 답안을 제출하게 됩니다.
    </li>
    <li>
      <b>사용 가능 프로그래밍 언어:</b> Java, C/C++ <br>
      상세한 컴파일러 옵션 등은 <a href="/acm/references#environment">대회 환경 페이지</a>를 참고합니다.
    </li>
  </ul>
  
  <h3>채점</h3>
  <ul>
    <li>각 문제는 동일한 사양의 여러 컴퓨터중 하나에서 <b><u>여러 testcase</u></b>를 사용하여 채점되며, 채점 결과는 Domjudge를 통하여 전달됩니다.</li>
    <li>채점 결과에 대한 예시</li>
    <ul>
      <b>No – Compiler-Error:</b> 정상적으로 컴파일되지 않았음<br>
      <b>No – Run-Error:</b> 컴파일되고 실행되었으나, 실행도중에 비정상적으로 종료됨<br>
      <b>No – Time-limit Exceeded:</b> <u>특정 테스트 케이스에 대해</u> 주어진 제한시간 안에 정상적으로 종료되지 않음<br>
      <b>No – No Output:</b> 실행 중 어떤 값도 출력하지 않았음<br>
      <b>No – Too-Late:</b> 대회가 끝나고 제출을 하였음<br>
      <b>No – Wrong Answer:</b> 컴파일되고 실행되어 <u>특정 테스트 케이스에 대해</u> 제한시간 안에 종료되었으나, 옳은 답을 출력하지 않았음<br>
      <b>Correct:</b> 정답<br>
    </ul>
    <li>채점 결과에 따른 점수 및 순위에 대한 규칙은 <a href="https://icpc.baylor.edu/regionals/rules">ICPC Regional 공식 규칙</a>의 Scoring of a Regional Contest 부분을 참고하시기 바랍니다.</li>
    <li>프로그램 작성 시 주의사항</li>
    <ul>
      <li>프로그램은 단일 쓰레드만을 사용해야 하며, 표준 입출력(Standard input/output)을 제외한 파일 I/O, 네트워킹 등의 system call은 사용할 수 없습니다.</li>
      <li>프로그램은 정답을 표준 출력(standard output)에 출력한 뒤, 정상적으로 프로세스가 종료되어야 합니다. 이는 return code가 0 이어야 함을 의미합니다. 이외의 exit code는 Runtime Error로 간주됩니다.</li>
      <li>채점과 대회 진행을 고의적으로 방해하는 프로그램을 제출하는 경우에는 실격될 수 있습니다.</li>
    </ul>
    <li>등록한 모든 팀들에게 Domjudge 시스템에서 작년 인터넷 예선 문제들을 풀어볼 수 있는 연습 세션을 9월 16일 ~ 17일 동안 제공할 예정입니다. 자세한 내용은 추후 공지하겠습니다.</li>
  </ul>
  
  <hr>
  <div style="text-align: right">
    <a href="/acm" class="ui button primary">메인 화면으로</a>
  </div>
</div>
<br>
<br>