<style>
pre.inline {
  display: inline;
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  white-space: nowrap;
  border-radius: 4px;
}
</style>
<br><br>
<div class="ui text container">
  <h1 class="ui dividing header">레퍼런스 사이트들</h1>
  
  <h2 class="ui header">C/C++</h2>
  <li><a target="_blank" href="http://ko.cppreference.com/w/">http://ko.cppreference.com/w/</a></li>
  <li><a target="_blank" href="http://www.cplusplus.com/">http://www.cplusplus.com/</a></li>
  
  <h2 class="ui header">Java 7/8</h2>
  <li><a target="_blank" href="http://docs.oracle.com/javase/7/docs/api/">http://docs.oracle.com/javase/7/docs/api/</a></li>
  <li><a target="_blank" href="http://docs.oracle.com/javase/8/docs/api/">http://docs.oracle.com/javase/8/docs/api/</a></li>
  
  <!--
  <h2 class="ui header">Python 2/3</h2>
  <li><a target="_blank" href="https://docs.python.org/2.7/">https://docs.python.org/2.7/</a></li>
  <li><a target="_blank" href="https://docs.python.org/3/">https://docs.python.org/3/</a></li>
  
  <h2 class="ui header">C#</h2>
  <li><a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/index">https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/index</a></li>
  
  <h2 class="ui header">Ruby</h2>
  <li><a target="_blank" href="https://ruby-doc.org/core-2.4.1/">https://ruby-doc.org/core-2.4.1/</a></li>
  -->
  
  <br><br>
  <h1 id="environment" class="ui dividing header">채점 환경</h1>
  
  <p>운영체제: Ubuntu 16.04 LTS Linux (64-bit)</p>
  
  <h2 class="ui header">C/C++</h2>
  <ul>
    <li>
      gcc (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609<br>
      (<pre class="inline">gcc -x c -Wall -O2 -std=c11 -static -pipe -DONLINE_JUDGE -DDOMJUDGE $* -lm</pre>)
    </li>
    <li>
      g++ (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609<br>
      (<pre class="inline">g++ -x c++ -Wall -O2 -std=c++11 -static -pipe -DONLINE_JUDGE -DDOMJUDGE $*</pre>)
    </li>
  </ul>
  
  <h2 class="ui header">Java 7/8</h2>
  <ul>
    <li>
      OpenJDK version 1.8.0_131<br>
      OpenJDK Runtime Environment (build 1.8.0_131-8u131-b11-2ubuntu1.16.04.3-b11)<br>
      OpenJDK 64-Bit Server VM (build 26.131-b11, mixed mode)<br>
      (<pre class="inline">javac -sourcepath . -d . $* && java -client -Xss8m -Xmx1024m -DONLINE_JUDGE=1 -DDOMJUDGE=1 $*</pre>)
    </li>
  </ul>
  
  <hr>
  <div style="text-align: right">
    <a href="/acm" class="ui button primary">메인 화면으로</a>
  </div>
</div>
<br>
<br>