<style>
pre.inline {
  display: inline;
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  white-space: nowrap;
  border-radius: 4px;
}
.img {
  text-align: center;
  display: block;
  width: 100%;
}
img {
  max-width: 100%;
  margin: 10px auto;
}
</style>
<br><br>
<div class="ui container">
  <h1 class="ui dividing header">팀 등록에 앞서,</h1>
  <p>한국 대학생 프로그래밍 경진대회를 위한 <a href="https://icpc.baylor.edu/register"><b>회원가입</b></a>이 필요합니다.
  
  <div class="img"><img src="/images/acm/home.png" /></div>
  <h2 class="ui header">icpc 홈페이지(<a href="https://icpc.baylor.edu">https://icpc.baylor.edu</a>)의 우측 상단 Register를 클릭합니다.</h2>
  
  <div class="img"><img src="/images/acm/registration.png" /></div>
  <h2 class="ui header">로그인을 위한 E-mail과 Password, 보안인증문자를 작성한 후 Next를 누르면 아래와 같은 화면이 나옵니다.</h2>
  
  <div class="img"><img src="/images/acm/registration2.png" /></div>
  <h2 class="ui header"><b>필수항목</b>을 제대로 입력했는지 확인 후 회원가입을 완료합니다.</h2>
  
  <h2 class="ui header">가입 후 <a href="https://icpc.baylor.edu/private/dashboard.icpc">Dashboard</a>를 확인하면 아래와 같습니다.</h2>
  <div class="img"><img src="/images/acm/dashboard.png" /></div>
  <div class="img"><img src="/images/acm/dashboard-profile.png" /></div>
  <h2 class="ui header">수정 버튼을 통해, 필요한 내용을 채웁니다.</h2>
  
  <div class="img"><img src="/images/acm/dashboard-profile-save.png" /></div>
  <h2 class="ui header">Save과 Confirm을 반드시 눌러야합니다.</h2>
  
  <div class="img"><img src="/images/acm/access_profile.png" /></div>
  <h2 class="ui header">*정보 접근 동의를 수락해야 등록이 완료될 수 있습니다.</h2>
  
  <h2 class="ui header">대회 신청 시, <b style="color: red">기입할 ACM ID</b>는 바로 icpc 홈페이지의 E-mail을 뜻합니다.</h2>
  
  <hr />
  <div style="text-align: right">
    <a href="/acm" class="ui button primary">메인 화면으로</a>
  </div>
  
  <p>문의사항: <a href="mailto: joonas.yoon@gmail.com, dldudgns73@naver.com">joonas.yoon@gmail.com 또는 dldudgns73@naver.com</a></p>
  
  <br>
  <br>
  <br>
</div>