.ui.secondary.inverted.pointing.menu {
    border-color: rgba(255, 255, 255, .33) !important;
}

.ui.divider.main.mint {
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    border-color: #00ac92;
}

h3.main.header { font-size: 2.5em; }
h4.main.header { font-size: 2.0em; }
h5.main.header { font-size: 1.5em; }

#jumbotron_jnupc {
    background-size: cover;
    background-image: url(/images/jnupc/background_2018.png);
    background-position: 50% 50%;
    height: 100vh !important;
}
#background_jnupc {
    background-size: cover;
    background-image: url(/images/jnupc/0_background.png);
    background-position: 50% 0%;
}

#jumbotron_cupc {
    background-size: cover;
    background-image: url(/images/cupc/background_2018.png);
    background-position: 50% 50%;
    height: 100vh !important;
}
#background_cupc {
    background-size: cover;
    background-image: url(/images/cupc/0_background.png);
    background-position: 50% 0%;
}

#support {
    background-size: cover;
    background-image: url(/images/background_cube.png);
    background-position: 50% 0%;
}

#background_jnupc p, #background_cupc p {
    color: #ffffff;
    font-size: 36pt;
}

#apply_list .table {
    width: 50%;
    margin: 0 auto;
}

@media only screen and (max-width: 700px) {
    #apply_list .table {
        width: 100%;
    }
}
