<!-- Sidebar Menu -->
<div class="ui left vertical inverted sidebar labeled icon menu">
  <a data-scroll-href="objective" class="item">
    <i class="talk outline icon"></i>
    About
  </a>
  <a data-scroll-href="activities" class="item">
    <i class="suitcase icon"></i>
    Activities
  </a>
  <a data-scroll-href="history" class="item">
    <i class="wait icon"></i>
    History
  </a>
  <a data-scroll-href="contact" class="item">
    <i class="call icon"></i>
    Contact
  </a>
</div>

<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment jumboBackgroundV">
    <div class="wrapper">
      <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
          <a class="toc item">
            <i class="sidebar icon"></i>
          </a>
          <a class="active item" data-scroll-href="top">Home</a>
          <a data-scroll-href="objective" class="item">About</a>
          <a data-scroll-href="activities" class="item">Activities</a>
          <a data-scroll-href="history" class="item">History</a>
          <a data-scroll-href="contact" class="item">Contact</a>
          <a class="right main item">
            <img src="/images/logo.png" />
          </a>
        </div>
      </div>

      <div class="ui container" style="text-align:left;">
        <h1 class="ui inverted jumbo header">ALPS</h1>
        <h2 class="jumbo small header">Algorithm &amp; Programming Study</h2>
        <h3>the Department of Computer Science and Engineering, Chonbuk National University</h3>
        <button data-scroll-href="contact" class="ui huge primary button">가입 신청 <i class="right arrow icon"></i></button>
      </div>
    </div><!-- wrapper -->
    
    <div style="position: relative !important; z-index: 1 !important; width: 100%;">
      <div id="backgroundVideo" class="jumboBackgroundV" data-vide-bg="/videos/winter_mt.mp4" data-vide-options="position: 0% 0%"></div>
    </div>
  </div>
  
  <div class="ui vertical main segment" id="objective">
    <div class="ui centered container">
      <img class="ui image" src="/images/icpc-logo.png" style="margin: 0 auto;"/>
      <h1 class="main header">Our Objective</h1>
      <div class="ui divider main blue"></div>
      <p>ALPS는 대학생 프로그래밍 경시대회를 준비하며 컴퓨터공학의 한 분야인 문제해결 및 알고리즘을 공부하고 연구하는 학술동아리입니다.</p>
      <p>또한, 알고리즘을 사용하여 문제를 해결하는 대회인 ACM-ICPC 대회 및 유사 대회들을 매년 참가하고 있습니다.</p>
    </div>
  </div>

  <div class="ui vertical main segment" id="statistics">
    <div class="ui container" style="padding: 5rem 0;">
      <div class="ui three stackable statistics">
        <div class="statistic">
          <div class="value">
            12
          </div>
          <div class="label">
            년의 역사
          </div>
        </div>
        <div class="statistic">
          <div class="value">
            29
          </div>
          <div class="label">
            개인 수상 기록
          </div>
        </div>
        <div class="statistic">
          <div class="value">
            34
          </div>
          <div class="label">
            활동 회원
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="ui vertical main segment" id="activities">
    <div class="ui centered container">
      <h1 class="main header">Activities</h1>
      <div class="ui divider main blue"></div>
      
      <br>
      <br>
      
      <div class="ui stackable two column grid">
        <div class="column">
          <img class="ui fluid image" src="/images/0_projects.png" />
        </div>
        <div class="column">
          <h3 class="ui header" style="margin-top: 30px">프로젝트 개발 및 운영</h3>
          <p class="description">
            학교 수업 연동 프로그램 자동 판정 시스템 <br>
            Samsung Convergence S/W Course 홈페이지 개발 <br>
            2차원 바코드 인식 스캐너 프로젝트 참여 <br>
            등
          </p>
        </div>
      </div>
      
      <br>
      <br>
      
      <div class="ui stackable two column grid">
        <div class="column">
          <h3 class="ui header" style="margin-top: 30px">대회 및 세미나 참가/개최</h3>
          <p class="description">
            외부 대회 및 세미나 등 지속적인 대회 관련 활동<br>
            대회를 통한 실력 증진과 외부 세미나를 통해 타지역 학우와의 교류
          </p>
          <p class="description">
            프로그래밍 대회를 개최하여 알고리즘과 문제 풀이를 알리고있습니다.
          </p>
        </div>
        <div class="column">
          <img class="ui fluid image" src="/images/1_contest.png" />
        </div>
      </div>
      
      <br>
      <br>
      
      <div class="ui stackable two column grid">
        <div class="column">
          <img class="ui fluid image" src="/images/2_studies.png" />
        </div>
        <div class="column">
          <h3 class="ui header" style="margin-top: 30px">스터디 활동</h3>
          <p class="description">
            ACM/ICPC를 위한 문제풀이 스터디<br>
            알고리즘/자료구조 스터디 등 운영
          </p>
          <p class="description">
            기초 튜터링부터 전공 과목 스터디까지 자유로게 개설 및 운영 중<br>
            능동적인 스터디 그룹 형성
          </p>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="ui vertical main segment" id="history">
    <div class="ui centered container">
      <h1 class="main header">History</h1>
      <div class="ui divider main blue"></div>
      
      <h3 class="ui diving header">2005년 4월 23일</h3>
      <p>동아리 창립</p>
      
      <h3 class="ui diving header">2009년</h3>
      <p>국제 대학생 프로그래밍 경진대회 서울대회 동상</p>
      
      <h3 class="ui diving header">2015년</h3>
      <p>국제 대학생 프로그래밍 경진대회 대전대회 호남지역 1위</p>
      
      <h3 class="ui diving header">2005~2016년</h3>
      <p>국제 대학생 프로그래밍 경진대회 대전대회 본선 진출</p>
      
      <h3 class="ui diving header">2008~2016년</h3>
      <p>전북대학교 프로그래밍 경진대회 금상</p>
      
    </div>
  </div>
  
  <div class="ui vertical main segment" id="contact">
    <div class="ui centered text container">
      <img src="/images/alps-git.png" style="border-radius: 50%;"/>
      <h1 class="main header">Join us</h1>
      <div class="ui divider main blue"></div>
      <p>ALPS는 열정이 가득한 당신을 항상 원하고 있습니다. </p>
      
      <p>
        <b>alps.jbnu@gmail.com</b> 로 연락
      </p>
      
      <div class="ui horizontal divider">또는</div>
      
      <p>
        전북대학교 공과대학 7호관 지하 1층 7007호 <b>방문</b><br>
      </p>
      
      <div class="ui horizontal divider">또는</div>
      
      <form class="ui form segment">
        <p>홈페이지에서 신청하기</p>
        <div class="two fields">
          <div class="field">
            <label>이름</label>
            <input placeholder="본명으로 작성해주세요." name="name" type="text" required>
          </div>
          <div class="field">
            <label>연락처</label>
            <input placeholder="Phone Number" name="phone" type="text" required>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label>어떻게 알고 오셨나요?</label>
            <input placeholder="ex) 선배가 추천해서.. 등" name="recommend" type="text">
          </div>
          <div class="field">
            <label>한마디</label>
            <input type="text" name="comment">
          </div>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox" name="terms">
            <label><a href="#">개인정보처리방침</a>에 동의합니다.</label>
          </div>
        </div>
        <div class="g-recaptcha" data-sitekey="6LcOthcUAAAAAD_BUeOqlRlDoUNBVWx3h6Qv28Wf" style="width:100%;"></div>
        <div class="ui primary submit button">신청하기</div>
        <div class="ui error message"></div>
      </form>
      
      <p>으로 가입 신청을 받고있습니다.</p>
    </div>
  </div>
  
  <div class="ui vertical main segment">
    <div id="googleMap"></div>
  </div>

  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Home</h4>
          <div class="ui inverted link list">
            <a data-scroll-href="objective" class="item">About us</a>
            <a data-scroll-href="activities" class="item">Activities</a>
            <a data-scroll-href="history" class="item">History</a>
            <a data-scroll-href="contact" class="item">Contact us</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="http://ssea.jbnu.ac.kr" class="item">Samsung Software Education Advancement</a>
            <a href="http://litmus.jbnu.ac.kr" class="item">Litmus Online Judge</a>
            <a href="http://orionoj.net" class="item">Orion Online Judge</a>
            <a href="http://procon-ese.co.kr/" class="item">Procon System</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Contact us</h4>
          <p><a href="mailto:alps.jbnu@gmail.com" class="footer link">alps.jbnu@gmail.com</a></p>
          <p>Since 2005-04-23</p>
          <p style="color: #999;">Copyright 2005-2017 by ALPS. All Rights Reserved.</p>
          
          <div class="ui inverted link list">
            <a href="https://www.facebook.com/alps05" class="ui circular facebook icon button">
              <i class="facebook f icon"></i>
            </a>
            <a href="https://alps-jbnu.slack.com" class="ui circular slack icon button">
              <i class="slack icon"></i>
            </a>
            <button class="ui circular google plus icon button">
              <i class="google plus icon"></i>
            </button>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/vide/dist/jquery.vide.min.js"></script>
<script>
$(document)
  .ready(function() {
    // fix menu when passed
    $('.masthead')
      .visibility({
        once: false,
        onBottomPassed: function() {
          $('.fixed.menu').transition('fade in');
        },
        onBottomPassedReverse: function() {
          $('.fixed.menu').transition('fade out');
        }
      })
    ;

    // create sidebar and attach to menu open
    $('.ui.sidebar')
      .sidebar('attach events', '.toc.item')
    ;
    
    window.onscroll = function(){
      var percentage = (40 * this.pageYOffset / this.innerHeight);
      var instance = $('#backgroundVideo').data('vide'); // Get the instance
      var video = instance.getVideoObject(); // Get the video object
      percentage = Math.max(0, Math.min(100, percentage));
      video.style.transform = 'translate(0%, ' + percentage +'%)';
    };
    
    function calculatePercentageParallax(calculations){
      var currentWindowY = window.pageYOffset;
      var startYOffset = calculations.top - 2 * calculations.height;
      var abstHeight = calculations.bottom - startYOffset;
      var percentage = (currentWindowY - startYOffset) / abstHeight * 80.;
      percentage = Math.max(0, Math.min(100, percentage));
      return percentage;
    }
    
    $('.segment img')
      .visibility({
        type       : 'image',
        transition : 'fade in',
        duration   : 1000
      })
    ;
    
    $('#statistics')
      .visibility({
        onUpdate: function(calculations) {
          // do something whenever calculations adjust
          if(calculations.onScreen){
            var percentage = calculatePercentageParallax(calculations);
            this.style.backgroundPositionY = percentage +'%';
          }
        }
      })
    ;
    
    $('#history')
      .visibility({
        onUpdate: function(calculations) {
          // do something whenever calculations adjust
          if(calculations.onScreen){
            var percentage = calculatePercentageParallax(calculations);
            this.style.backgroundPositionY = percentage +'%';
          }
        }
      })
    ;
    
    $('.ui.form')
      .form({
        fields: {
          name: {
            identifier: 'name',
            rules: [
              {
                type   : 'empty',
                prompt : '이름을 입력해주세요'
              }
            ]
          },
          phone: {
            identifier: 'phone',
            rules: [
              {
                type   : 'empty',
                prompt : '연락처를 입력해주세요'
              }
            ]
          },
          terms: {
            identifier: 'terms',
            rules: [
              {
                type   : 'checked',
                prompt : '개인정보처리방침에 동의하지 않으셨습니다.'
              }
            ]
          }
        }
      })
    ;
  })
;
</script>