<div class="ui vertical segment">
  <div class="ui text container">
    <h1 class="ui dividing header" style="margin-top: 10px">ALPS 개인정보처리방침 (개인정보 수집 및 이용)</h1>
    <p>{{{ content }}}</p>
    <br><br><br>
  </div>
</div>